.header {
    background: linear-gradient(180deg, #ffc261 0%, #ffc261 45%, #fff 55%, #ffc261 65%, #ffc261 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Tahoma;
    font-size: 27px;
    font-weight: 400;
}