mixin card-header (data)
    .card-header
       
        .card-header__name= data.name
        .card-header__second= data.second
        .card-header__summary= data.summary
    
mixin custom-checkbox (label)
    label.custom-checkbox
        input(type="checkbox",class="custom-checkbox__control")
        .custom-checkbox__element
        span.custom-checkbox__label= label


mixin input-text (placeholder)
    input(type="text",class="input-text",placeholder= placeholder)
       











        