@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";
@import "../blocks/modules/mixins.scss";


* {
    box-sizing: border-box;
    // border: 1px solid red;
}

body {

    padding: 40px 0;
    font-family: "Tahoma";

}

.site-container {
    width: 100%;
    max-width: 1000px;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: url(../img/thin-line.png), #021835;


}

.site-bg {
    width: 100%;
    height: 100%;
    background-color: #02183550;
    padding: 40px 50px 60px 40px;

}