extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container
		.site-bg
	//- .test
	//- 	+card-header({name:'Бокал',summary:'18 видов'})
	//- 	+custom-checkbox('Апельсин на бокале')
	//- 	+input-text('Название')
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
