extends layouts/default
include helpers/mixins

block variables
	- const title = "Электронный сомелье"

block content
	.site-container
		.site-bg
			include ..\blocks\modules\header\header.pug
			include ..\blocks\modules\criterias\criterias.pug
			
	//- .test
	//- 	+card-header({name:'Бокал',summary:'18 видов'})
	//- 	+custom-checkbox('Апельсин на бокале')
	//- 	+input-text('Название')
	//- 	+input-range('3', '15', 'героин')
	//- 	+card__description-data ('Тайтл', 'Текст')
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
