.criterias  
    .card__wineglass.card
        +card-header({name:'Бокал',summary:'18 видов'})
        
    .card__type.card
    .card__strength.card
    .card__base.card
    .card__ingredients.card
    .card__portions.card
    .card__time.card
    .card__difficultly.card
    .card__method.card
    .card__decorations.card
    .card__tags.card
    .card__description.card
.button
    .button__clear  очистить
    .button__save сохранить