@font-face {
    font-family: 'Arial-ItalicMT';
    src: local('Arial-ItalicMT'), url(../../fonts/Arial-ItalicMT.woff2) format('woff');
}

@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'), url(../../fonts/Tahoma.woff2) format('woff');
}